
{%macro uniMe(unit_form) %}
    {%from "_macro.html" import render_field%}
    <div id="unidadesMedida" class="modal modal-child" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-modal-parent="#capturaProducto #buscarProducto" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header"> 
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Unidades de Medida</h4>
                </div>
                <div class="modal-body">
                    <p>Unidades de medida</p>
                    <form action="/unit" method="POST" autocomplete="off" >
                        <div class="row">
                            <div class="col-md-4">
                                <label>Nombre</label>
                                {{render_field(unit_form.name, class="form-control", required="")}}
                            </div>
                            <div class="col-md-4">
                                <label>Abreviacion</label>
                                {{render_field(unit_form.abbreviaton, class="form-control", required="")}}
                            </div>
                            <div class="col-md-4">
                                <label>Descripcion</label>
                                {{render_field(unit_form.descripcion, class="form-control", required="")}}
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;" align="left">
                            <div class="col-md-12" align="right">
                                <button class="btn"> Capturar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}