{% extends 'base/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
    <h3> Facturacion</h3>
    <form id="formFactura">
        <div  class="row">
            <div class="col-md-4">
                <h4>Ingrese el RFC del cliente</h4>
            </div>
            <div class="col-md-4">
                <input id="rfc" class="form-control" type="text" required/>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <h4>Nombre</h4>    
            </div>
            <div class="col-md-4">
                <input id="nombre" class="form-control" type="text" required readonly>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                <h5>Serie</h5>
            </div>
            <div class="col-md-2">
                <select id="serie" class="form-control">
                    <option>CMX</option>
                    <option>JAL</option>
                    <option>PUE</option>
                </select>
            </div>
            <div class="col-md-1">
                <h5>Folio</h5>
            </div>
            <div
             class="col-md-2">
                <input id="folio" class="form-control" type="text">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">Codigo</div>
            <div class="col-md-3">Nombre</div>
            <div class="col-md-2">Precio</div>
            <div class="col-md-2">Numero de unidades</div>
            <div class="col-md-2">Total producto</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input id="cod_0"  class="form-control" type="number" required>
            </div>
            <div class="col-md-3">
                <input id ="nom_0" class="form-control" type="text"   required readonly>
            </div>
            <div class="col-md-2">
                <input id ="pre_0" class="form-control" type="number" required readonly>
            </div>
            <div class="col-md-2"> 
                <input id="nu_0" class="form-control" type="number" rquired>
            </div>
             <div class="col-md-2">
                <input id="total_0"class="form-control" type="number" required readonly>
            </div>
        </div>
        
    </form>
        <br>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <h4>SubTotal</h4>
            </div>
            <div class="col-md-2">
                <input id="subtotal" class="form-control" type="text" readonly="">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <h4>IVA</h4>
            </div>
            <div class="col-md-2">
                <input id="iva" class="form-control" type="number" readonly="">
            </div>
        </div>
        
         <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <h4>Total</h4>
            </div>
            <div class="col-md-2">
                <input id="total" class="form-control" type="number" readonly="">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <button id="btnAdd" class="btn">ADD</button>                
            </div>
              <div class="col-md-3">
                <button id ="btnFact" class="btn">Facturar</button>
            </div>
            <div class="col-md-4">
                <button class="btn">Cancelar</button>
            </div>
        </div>


    <script type="text/javascript" src="{{url_for('static', filename='js/factura.js')}}"></script>
{% endblock %}