{% extends 'base/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h3>Bienvenido</h3>
		</div>
	</div>
	<div class="row">
		<div  class="col-xs-12 col-sm-6 col-md-4" style="margin-top:20px;">
			<button id="semana" class="btn btn-info btn-lg">Facturas de la semana</button>
		</div>
		<div  class="col-xs-12 col-sm-6 col-md-4" style="margin-top:20px;">
			<button id="pendientes" class="btn btn-info btn-lg">Facturas pendientes por timbrar</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-48 col-md-12">
			<table border="1" class="table  table-hover table-bordered" id="tabla">
				<thead>
					<tr>
						<th>ID</th>
                        <th>SERIE</th>
                        <th>FOLIO</th>
                        <th>FOLIO FISCAL</th>
                        <th>FECHA</th>
                        <th>RFC CLIENTE</th>
                        <th>SUBTOTAL</th>
                        <th>IVA</th>
                        <th>TOTAL</th>
                        <th>VER</th>
                    </tr>
                </thead>
                <tbody id="cuerpoTabla">
                </tbody>
            </table>
		</div>
	</div>
	<script type="text/javascript" src="{{url_for('static', filename='js/inicio.js')}}"></script>
{% endblock %}